/* General Styling */
.navbar {
    position: relative;
    width: 100vw;
    height: 10vh;
    color: #1e1e1e;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    color: #1e1e1e;
    position: relative;
    padding: 5px 8px;
}

.navbar__logo {
    display: block;
    cursor: default;
    font-family: "Saira Extra Condensed";
    font-size: 1.8rem;
}

.navbar__links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar__links a {
    margin: 0 12px;
}

.navbar__links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.5px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #1e1e1e;
    transition: width 0.3s ease;
}

.navbar__links a:hover::after {
    width: 100%;
}

.navbar__contact {
    display: flex;
    align-items: center;
}

.navbar__contact button {
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #740f35;
    color: white;
    font-family: "Fredoka";
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.3s ease, box-shadow 0.3s ease,outline 0.3s ease;
}

.navbar__contact button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #bd6348,
      #d19a66,
      #facfaa,
      #c99d74
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 200%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: opacity 0.3s ease-in-out, background-size 0.3s ease;
    opacity: 0;
    border-radius: 10px;
}

.navbar__contact button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #740f35;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.navbar__contact button:hover:before {
    opacity: 1;
    background-size: 400%;
    animation: glowing-button-85 20s linear infinite;
}


.logo {
    display: block;
}

.short-logo {
    display: none;
}

.navbar__hamburger {
    display: none;
}

.navbar__hamburger__menu {
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: burlywood;
    width: 100%;
    height: 90vh;
    z-index: 5;
    opacity: 0;
    filter: blur(8px);
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.navbar__hamburger__menu.open {
    opacity: 1;
    filter: blur(0px);
}

.navbar__hamburger__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.navbar__hamburger__menu ul li {
    margin-bottom: 32px;
    padding: 24px;
    width: max-content;
    font-size: 1.5rem;
}

.navbar__hamburger__menu ul li a {
    color: #1e1e1e;
    text-decoration: none;
    padding: 8px 8px;
    display: block;
    transition: font-size 0.3s ease, letter-spacing 0.3s ease;
}

.navbar__hamburger__menu ul li a:hover {
    letter-spacing: 6px;
    font-size: 2rem;
}

@media screen and (max-width: 1080px) {
    .logo {
        display: none;
    }

    .short-logo {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navbar__links {
        display: none;
    }

    .navbar__hamburger {
        display: block;
    }

    .navbar__contact {
        display: none;
    }

    .navbar__hamburger__menu {
        display: block;
    }
}

@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }